<!DOCTYPE html>
<html>
<head>
  <title>Getjob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <p class="alert"><%= alert %></p>
  <div class="container">
<br />
    
  </div>	
	<%= yield %>
  </body>
</html>
